body {
  background:#000;
  margin:0;
  padding:0;
}

li { list-style-type:none; }
h1, h2, h3, p, li, ul { 
  margin:0;
  padding:0;
}

#progress { 
  background:#555;
  width:0;
  height:10px;
}

.dashboard {
  font-family: 'Droid Sans', arial, serif;
  padding:20px;
}
.clear { clear:both; }

.current_build { background:#FFF; }
.success { background:#1b891b; }
.failure { background:#b63f3f; }
.building { background:#c0aa51; }

h1 { 
  border-radius:20px;
  color:#FFF;
  font-size:80px;
  font-family:"Lobster";
  padding:10px;
}

#builds {
  font-size:60px;  
  margin-top:20px;
  
  .current_build {
    border-radius:20px;
    margin-top:20px;
    padding:20px 30px;
    
    .name { float:left; }
    .time { float:right; }
  }
  
  .history {
    -webkit-mask-image: -webkit-gradient(linear, left center, right center, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.2)));
    
    li { 
      border-radius:25px;
      display:inline-block;
      height:50px; 
      margin:16px 40px 30px 0;
      text-indent:-5000px;
      width:50px;
    }
    
    :last-child { margin-right:0; }
  }
}