.rounded_corners(@radius: 20px) {
  border-radius:@radius;
  -moz-border-radius:@radius;
  -webkit-border-radius:@radius;
}
.gradient(@start, @end) {
  background:@end;
  background:linear-gradient(left top, @start, @end);
  background:-webkit-gradient(linear, left top, left bottom, from(@start), to(@end));
  background:-moz-linear-gradient(center top, @start, @end);
}
.horizontal_mask {
  -webkit-mask-image: -webkit-gradient(linear, left center, right center, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.2)));
}


.clear { clear:both; }

.success, .failure, .building { opacity:0.7; }
.current_build { .gradient(#DDD, #BBB); }
.success { .gradient(#4afd4a, #04eb04); }
.failure { .gradient(#fd6c6c, #ec1f1f); }
.building { .gradient(#fffd42, #e0dd00); }

.current_build { border:4px solid #DDD; }
.current_build.success { border-color:#a1ffa1; }
.current_build.failure { border-color:#ff9696; }
.current_build.building { border-color:#ffeca0; }


body {
  background:#000;
  margin:0;
  padding:0;
  font-family: 'Droid Sans', arial, serif;
}

li { list-style-type:none; }
h1, h2, h3, p, li, ul {
  margin:0;
  padding:0;
}


#progress {
  background:#36689b;
  width:0;
  height:10px;
}
#title {
  color:#FFF;
  font-size:70px;
  font-family:"Lobster";
  padding:10px 10px 10px 20px;
  text-shadow: 4px 4px #b457b7;
  margin:0 0 50px;
  background:#333;
}
.projects {
  font-size:60px;
  margin:20px 0 0 0;
  .project {
    margin-bottom:10px;
    width:100%;
    display:block;

    .frame {
      background:#333;
      padding:10px;
      .rounded_corners;
    }
    .current_build {
      .rounded_corners;
      padding:20px 30px;

      .name { float:left; }
      .time { float:right; }
      .message {
        background:rgba(255,255,255,.5);
        .rounded_corners(10px);
        margin:20px -10px 0;
        padding:10px 15px;
        font-size:45px;
        display:none;
        
        ul, ol { margin:15px 0 15px 45px; }
        li { list-style-type:disc; }
      }
    }

    .history {
      .horizontal_mask;
      padding:0 10px;
      margin:0;

      li {
        .rounded_corners(25px);
        display:inline-block;
        margin:16px 40px 0px 0;
        text-indent:-5000px;
        width:50px;
        height:50px;
      }

      :last-child { margin-right:0; }
    }
  }
}

.tickets {
  display:none;
  margin:20px -10px 0;
  .ticket {
    .rounded_corners(10px);
    .gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .3);
    border:6px solid rgba(0, 0, 0, .4);
    display:inline-block;
    font-size:35px;
    margin:0 10px 0 0;
    padding:9px 15px;
  }
}

#pings {
  margin-top:50px;
  position:fixed;
  width:100%;
  bottom:0px;
  background:#111;
  .ping {
    display:inline-block;
    width:20%;

    .wrapper {
      margin:10px 10px;
      padding:15px 10px 10px;
      .rounded_corners;
      background:#333;
    }

    .current_build {
      .rounded_corners(50px);
      width:80px;
      height:80px;
      margin:auto;
    }
    .name {
      color:#AAA;
      font-size:30px;
      padding-top:15px;
      text-align:center;
    }
  }
}
