body {
  background:#000;
  margin:0;
  padding:0;
}

li { list-style-type:none; }
h1, h2, h3, p, li, ul { 
  margin:0;
  padding:0;
}

#progress { 
  background:#36689b;
  width:0;
  height:10px;
  opacity:0.6;
}

.dashboard {
  font-family: 'Droid Sans', arial, serif;
  padding:20px;
}
.clear { clear:both; }

.success, .failure, .building { opacity:0.7; }
.current_build { background: -webkit-gradient(linear, left top, left bottom, from(#DDD), to(#BBB)); }
.success { background: -webkit-gradient(linear, left top, left bottom, from(#a1ffa1), to(#4bdf4b)); }
.failure { background: -webkit-gradient(linear, left top, left bottom, from(#ff9696), to(#ea5454)); }
.building { background: -webkit-gradient(linear, left top, left bottom, from(#ffeca0), to(#e6c84d)); }

.current_build { border:4px solid #DDD; }
.current_build.success { border-color:#a1ffa1; }
.current_build.failure { border-color:#ff9696; }
.current_build.building { border-color:#ffeca0; }

h1 { 
  color:#FFF;
  font-size:70px;
  font-family:"Lobster";
  padding:10px 10px 10px 20px;
  text-shadow: 4px 4px #b457b7;
  opacity:0.5;
  margin:0 -20px 50px;
  background:#333;
}

#builds {
  font-size:60px;  
  margin-top:20px;
  
  .project { 
    padding:10px;
    border-radius:20px;
    margin-top:20px;
    background:#333;
    
    .current_build {
      border-radius:20px;
      padding:20px 30px;

      .name { float:left; }
      .time { float:right; }
    }

    .history {
      -webkit-mask-image: -webkit-gradient(linear, left center, right center, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.2)));
      padding:0 10px;
      margin:0;

      li { 
        border-radius:25px;
        display:inline-block;
        margin:16px 40px 0px 0;
        text-indent:-5000px;
        width:50px;
        height:50px;
      }

      :last-child { margin-right:0; }
    }
  }
}

#pings {
  margin-top:50px;
  .ping {
    display:inline-block;
    width:25%;
    
    .wrapper {
      margin:10px 10px;
      padding:15px 10px 10px;
      border-radius:20px;
      background:#333;
    }
    
    .current_build { 
      border-radius:50px;
      width:100px;
      height:100px;
      margin:auto;
    }
    .name {
      color:#CCC;
      font-size:30px;
      padding-top:5px;
      text-align:center;
    }
  }
}